{% extends 'layout.html'%}
{% block container %}
<!--  the message above indicates to start the container-->



    <!-- Contact Start -->
    <div class="container-xxl py-5">
        <div class="container">
            <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
                <h6 class="section-title bg-white text-center text-primary px-3" style="margin-bottom: 30px;">Login</h6>
                <br>
            </div>

            <div class="row g-4">
                <div class="col-lg-6 col-md-12 wow fadeInUp" data-wow-delay="0.5s">
                    <form>
                        <div class="row g-3">
                            <div class="col-md-12">
                                <div class="form-floating">
                                    <input type="email" class="form-control" id="email" placeholder="Your Email">
                                    <label for="email">Your Email</label>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-floating">
                                    <input type="password" class="form-control" id="name" placeholder="Password">
                                    <label for="name">Password</label>
                                </div>
                            </div>
                            <div class="col-md-12">
                                    <input type="checkbox" id="name">
                                    <label for="name">Do you want me to stay logged in</label>
                            </div>
                            <div class="col-12">
                                <button class="btn btn-primary w-100 py-3" type="submit">Login</button>
                            </div>
                            <div class="col-12">
                                <a href="login-teacher.html" class="btn btn-primary w-100 py-3" type="submit">Login as an Instructor</a>
                            </div>
                            
                            </div>
                    </form>
                </div>
                <div class="col-lg-6 col-md-6 wow fadeInUp" data-wow-delay="0.1s" style="text-align: center;">
                    <h3 style="margin-bottom: 10px;text-align: center;">Is this your first time here?</h3>
                    <p class="mb-4" style="text-align: center;">To browse the community discussions about Moodle, you can log in as a guest.
                        <br><br>
                        To participate in the discussions, you will need to have an account. You can either create an account by clicking the button below and completing a form, or have an account created automatically by logging in using your account on another site.</p>
                        <a href="login-student.html" style="text-align: center;" class="btn btn-primary py-md-3 px-md-5 animated slideInRight">Create new account</a>
                </div>
                
            </div>
        </div>
    </div>
    <!-- Contact End -->





{% endblock%}